/* Basic CSS for the cover page sample: pdf-cover-page.md */
@media print {
  @page cover-page {
    background-color: #EEF2F3; /* $print-splash-color */
    @bottom-right {
      content: none;
    }
    @bottom-left {
      content: none;
    }
  }
  .pdf-cover-page {
    page: cover-page;
  }
  .pdf-cover-page a {
    color: currentColor;
  }
  .pdf-cover-page p {
    margin-bottom: 1rem;
  }
  .pdf-cover-page__header {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  .pdf-cover-page__citation,
  .pdf-cover-page__copyright-and-license {
    margin-bottom: 1rem;
    width: 70%;
  }
  .pdf-cover-page__publisher-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .pdf-cover-page__publisher-logo img {
    height: .75in;
    display: inline-block;
    margin-right: 2rem;
  }
}