.quire-download {

	.quire-download__link {

		span {
			margin-right: .25em;
		}

		// FIXME: The span an svg have different center-baselines, fix that
		.quire-download__link__icon {

			height: 1em;
			width: 1em;

		}

	}	

}